node_modules
npm-debug.log
dist
.env.local
.env.*.local
.git
.gitignore
.dockerignore
README.md
.vscode
.idea
.DS_Store
coverage
jest.json
test
*.spec.ts
*.test.ts
tmp
.env
.env.example
*.pem
*.key
*.psql
*.sql
